@charset "UTF-8";

.box7{
    padding: 0.2em 0.5em;
    margin: 1em 1;
    color: #474747;
    background: whitesmoke;/*背景色*/

}


body{
  margin-left: 10px;
}

  .review::before{
    content: "復習 ";
    font-weight: bold;

  }


  .example::before{
    content: "例 ";
    font-weight: bold;
  }

  .example>*:first-child{
    display: inline; /*div.theoremの直下は絶対インライン*/
  }

  .example>.title{
    font-weight: bold; /*お好み装飾*/
  }
    .example{
    padding: 0.2em 0.5em;
    margin: 0em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/

}


.proof{
  padding: 0.2em 0.5em;
  margin: 1em 1;
  border-left: solid 2px black;/*左線*/
　margin-left: 10px
}
.proof::before{
  content: "証明 ";
  font-weight: bold;
}



.proof>.title{
  display: inline;
  font-weight: bold; /*お好み装飾*/
}

.proof::after{
  content: "(証明終わり）"
}



footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


.question::before{
  content: "問題";
  font-weight: bold;
}



.question>.title{
  font-weight: bold; /*お好み装飾*/
  display: inline;
}
  .question{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}

.solution{
  padding: 0.2em 0.5em;
  margin: 1em 1;

  border-left: double 7px #4ec4d3;/*左線*/

}
.solution::before{
  content: "解答";
  font-weight: bold;
}

.solution>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.solution>.title{
  font-weight: bold; /*お好み装飾*/
}

.solution::after{
  content: "(解答終わり）"
}







.theorem::before{
  content: "定理";
  font-weight: bold;
}



.theorem>.title{
  font-weight: bold; /*お好み装飾*/
  display: inline;
}
  .theorem{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}


.def::before{
  content: "定義";
  font-weight: bold;
  margin-bottom: 10px;
}



.def>.title{
  font-weight: bold; /*お好み装飾*/
  display: inline;
}



  .def{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}





h2{
  margin-left: 10px;
}

p{
  margin-left: 10px;
}

h3{
  margin-left: 10px;
  border-bottom: solid 3px gray;
}



.horizontal-scroll{
overflow-x: auto;
}

.blank80{
  margin: 80px;
}

.blank60{
  margin:60px;
}

.blank40{
  margin: 40px;
}

.blank20{
  margin:20px;
}

.blank10{
  margin:10px;
}

.ublank80{
  margin-top: 80px;
}

.ublank60{
  margin-top: 60px;
}

.ublank40{
  margin-top: 40px;
}
.ublank20{
  margin-top: 20px;
}


.ublank10{
  margin-top: 10px;
}

.bblank80{
  margin-bottom: 80px;
}

.bblank60{
  margin-bottom: 60px;
}

.bblank40{
  margin-bottom: 40px;

}
.bblank20{
  margin-bottom: 20px;
}

.bblank10{
  margin-bottom: 10px;
}

.bold{
  font-weight: bold;
}


.prop::before{
  content: "命題";
  font-weight: bold;
  margin-bottom: 10px;
}



.prop>.title{
  font-weight: bold; /*お好み装飾*/
  display: inline;
}



  .prop{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}
