@charset "UTF-8";

.box7{
    padding: 0.2em 0.5em;
    margin: 1em 1;
    color: #474747;
    background: whitesmoke;/*背景色*/

}


body{

  margin-left: 10px;
}

  .review::before{
    content: "復習 ";
    font-weight: bold;

  }


  .example::before{
    content: "例 ";
    font-weight: bold;
  }

  .example>*:first-child{
    display: inline; /*div.theoremの直下は絶対インライン*/
  }

  .example>.title{
    font-weight: bold; /*お好み装飾*/
  }
    .example{
    padding: 0.2em 0.5em;
    margin: 0em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/

}


.proof{
  padding: 0.2em 0.5em;
  margin: 1em 1;
  border-left: solid 2px black;/*左線*/

}
.proof::before{
  content: "証明 ";
  font-weight: bold;
}

.proof>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.proof>.title{
  font-weight: bold; /*お好み装飾*/
}

.proof::after{
  content: "(証明終わり）"
}



footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


.question::before{
  content: "問題";
  font-weight: bold;
}

.question>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.question>.title{
  font-weight: bold; /*お好み装飾*/
}
  .question{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}

.solution{
  padding: 0.2em 0.5em;
  margin: 1em 1;

  border-left: double 7px #4ec4d3;/*左線*/

}
.solution::before{
  content: "解答";
  font-weight: bold;
}

.solution>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.solution>.title{
  font-weight: bold; /*お好み装飾*/
}

.solution::after{
  content: "(解答終わり）"
}







.theorem::before{
  content: "定理";
  font-weight: bold;
}

.theorem>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.theorem>.title{
  font-weight: bold; /*お好み装飾*/
}
  .theorem{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}

h2{
  margin-left: 10px;
}

p{
  margin-left: 10px;
}

h3{
  margin-left: 10px;
  border-bottom: solid 3px gray;
}
