@charset "UTF-8";

body{
  z-index: 0;
}




.accordion-container {
  position: relative;
  width: 100%;
  border: 1px solid white;
  border-top: none;
  outline: 0;
  cursor: pointer

}

.accordion-container .accordion-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 1.25em;
  font-weight: normal;
  color: black;
  background: white;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background-color: white;
  color: black;

}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.accordion-title{
  position: relative;

}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px black;
  border-right: solid 2px ;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);

}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion-content {
  position: relative;
  display: none;
  padding-left: 2.3125em;

}

/* CSS for CodePen */
.accordion-container {
  position: relative;
  width: 80%;
  margin: 1.875em auto;

}

.tooltip2{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;

}
.tooltip2 p{
    margin:15px 0px 15px 0px;
    padding:0;

}
.description2 {
    display: none;
    position: absolute;
    padding: 10px;

    line-height: 1.6em;
    color: black;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    border: 1px solid black;

}

.description2::before{
  content: "内容：";
  font-weight: bold;

}

.tooltip2:hover .description2{
    display: inline-block;
    top: 40px;
    left: 40%;
    z-index: 1;
}






.tooltip3{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.tooltip3 p{
    margin:15px 0px 15px 0px;
    padding:0;

}
.description3 {
    display: none;
    position: absolute;
    padding: 10px;

    line-height: 1.6em;
    color: black;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    border: 1px solid black;

}

.description3::before{
  content: "問題：";
  font-weight: bold;

}

.tooltip3:hover .description3{
    display: inline-block;
    top: 40px;
    left: 40%;
    z-index: 1;
}




@media screen and (min-width:480px) {
  .accordion-container2 {
    position: relative;
    width: 20%;

    border-top: none;
    outline: 0;
    cursor: pointer

  }

  .accordion-container2 .accordion-title2 {
    display: block;
    position: relative;
    margin: 0;
    padding: 0px 0 0px 0;

    font-weight: normal;
    color: gray;
    background: white;
    cursor: pointer;

  }

  .accordion-container2 .accordion-title2:hover,
  .accordion-container2 .accordion-title2:active,
  .accordion-container2 .content-entry.open .accordion-title2 {
    background-color: white;
    color: gray;

  }

  .accordion-container2 .accordion-title2:hover i:before,
  .accordion-container2 .accordion-title2:hover i:active,
  .accordion-container2 .content-entry.open i {
    color: white;
  }

  .accordion-title2{
    position: relative;
    font-size: 12px;
  }

  .accordion-title2:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 33%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 6px;
    height: 6px;
    border-top: solid 1px gray;
    border-right: solid 1px gray;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);

  }

  .accordion-title2.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }

  .accordion-content2 {
    position: relative;
    display: none;
    padding: 4px;
    color: gray;
    font-size: 12px;
    width: 500%;
  }

  /* CSS for CodePen */
  .accordion-container2 {
    position: relative;
    width: 20%;
    margin: 0;

  }

  .midasi{
    margin: 30px 0px 2px 0px
  }
}

 @media screen and (max-width:480px) {

   .accordion-container2 {
     position: relative;
     width: 20%;

     border-top: none;
     outline: 0;
     cursor: pointer

   }

   .accordion-container2 .accordion-title2 {
     display: block;
     position: relative;
     margin: 0;
     padding: 0px 0 0px 0;

     font-weight: normal;
     color: gray;
     background: white;
     cursor: pointer;

   }

   .accordion-container2 .accordion-title2:hover,
   .accordion-container2 .accordion-title2:active,
   .accordion-container2 .content-entry.open .accordion-title2 {
     background-color: white;
     color: gray;

   }

   .accordion-container2 .accordion-title2:hover i:before,
   .accordion-container2 .accordion-title2:hover i:active,
   .accordion-container2 .content-entry.open i {
     color: white;
   }

   .accordion-title2{
     position: relative;
     font-size: 12px;
   }

   .accordion-title2:after {
     content: "";
     position: absolute;
     right: 25px;
     top: 33%;
     transition: all 0.2s ease-in-out;
     display: block;
     width: 6px;
     height: 6px;
     border-top: solid 1px gray;
     border-right: solid 1px gray;
     -webkit-transform: rotate(135deg);
     transform: rotate(135deg);

   }

   .accordion-title2.open:after {
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
     top: 45%;
   }

   .accordion-content2 {
     position: relative;
     display: none;
     padding: 4px;
     color: gray;
     font-size: 12px;
     width: 250%;
   }

   /* CSS for CodePen */
   .accordion-container2 {
     position: relative;
     width: 40%;
     margin: 0;

   }

   .midasi{
     margin: 30px 0px 2px 0px
   }

 }
