@charset "UTF-8";

.accordion-container {
  position: relative;
  width: 100%;
  border: 1px solid white;
  border-top: none;
  outline: 0;
  cursor: pointer

}

.accordion-container .accordion-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 1.25em;
  font-weight: normal;
  color: black;
  background: white;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background-color: white;
  color: black;

}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.accordion-title{
  position: relative;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px black;
  border-right: solid 2px ;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion-content {
  display: none;
  padding-left: 2.3125em;
}

/* CSS for CodePen */
.accordion-container {
  width: 80%;
  margin: 1.875em auto;

}

.balloon2-left {
 position: absolute;
 display: inline-block;
 margin: 1.5em 0 1.5em 15px;
 padding: 7px 10px;
 min-width: 120px;
 max-width: 100%;
 color: #555;
 font-size: 16px;
 background: #FFF;
 border: solid 1px black;
 box-sizing: border-box;
}

.balloon2-left:before {
 content: "";
 position: absolute;
 top: 50%;
 left: -24px;
 margin-top: -12px;
 border: 12px solid transparent;
 border-right: 12px solid white;
 z-index: 2;
}

.balloon2-left:after {
 content: "";
 position: absolute;
 top: 50%;
 left: -30px;
 margin-top: -14px;
 border: 14px solid transparent;
 border-right: 16px solid black;
 z-index: 1;
}

.balloon2-left p {
 margin: 0;
 padding: 0;
}




.tooltip3{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip3 p{
    margin:0px;
    padding:0px;
}
.description3 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: gray;
    border-radius: 5px;
    background: #FFF;
    width: 300px;
    border: 1px solid black;
}

.tooltip3:hover .description3{
    display: inline-block;
    top: 30px;
    left: 0px;
}

@media screen and (min-width:480px) {

body {
     margin: 0;
     padding: 0;
   }
   .css-fukidashi {
     padding: 0;
     margin: 0;
   }
   .text {
     width: auto;
     position: relative;
     margin:0px 0px 0px 0px;


   }
   .fukidashi {
     display: none;
     width: auto;
     position: absolute;
     top: 0;
     left: 250px;
     padding: 16px;
     border-radius: 5px;
     background: white;
     color: black;
     font-weight: normal;
     border: 1px solid black;
   }



   .text:hover + .fukidashi {
     display: block;
   }

   .fukidashi::before{
     content: "内容：";
     font-weight: bold;
   }

 }

 @media screen and (max-width:480px) {

   body {
        margin: 0;
        padding: 0;
      }
      .css-fukidashi {
        padding: 0;
        margin: 0;
      }
      .text {
        width: auto;
        position: relative;
        margin:0px 0px 0px 0px;


      }
      .fukidashi {
        display: none;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        padding: 16px;
        border-radius: 5px;
        background: white;
        color: black;
        font-weight: normal;
        border: 1px solid black;
      }



      .text:hover + .fukidashi {
        display: block;
      }

      .fukidashi::before{
        content: "内容：";
        font-weight: bold;
      }

    }

 }
