@charset "UTF-8";

p{
  margin-left: 10px;
  background-color: white;
}

h3{
  margin-left: 0px;
}

a{
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

h3 {
  border-bottom: solid 3px black;
  position: relative;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 20%;
}

@media screen and (max-width:480px) {



}

@media screen and (min-width:480px) {



}

.box {
  width: 100%;                /* 横幅を200pxに指定 */
  height: 300px;               /* 横幅を200pxに指定 */
  border: 2px solid #000;      /* わかりやすくボーダーを引く */
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
}

.new{
  margin-top: 60px;
  font-weight: bold;
}
