@charset "UTF-8";

.box7{
    padding: 0.2em 0.5em;
    margin: 1em 1;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}




  .review::before{
    content: "復習 ";
    font-weight: bold;
  }


  .example::before{
    content: "例 ";
    font-weight: bold;
  }

  .example>*:first-child{
    display: inline; /*div.theoremの直下は絶対インライン*/
  }

  .example>.title{
    font-weight: bold; /*お好み装飾*/
  }
    .example{
    padding: 0.2em 0.5em;
    margin: 0em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/

}


.proof{
  padding: 0.2em 0.5em;
  margin: 1em 1;

  border-left: double 7px #4ec4d3;/*左線*/

}
.proof::before{
  content: "証明 ";
  font-weight: bold;
}

.proof>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.proof>.title{
  font-weight: bold; /*お好み装飾*/
}

.proof::after{
  content: "(証明終わり）"
}

h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


.question::before{
  content: "問題";
  font-weight: bold;
}

.question>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.question>.title{
  font-weight: bold; /*お好み装飾*/
}
  .question{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/

}

.solution{
  padding: 0.2em 0.5em;
  margin: 1em 1;

  border-left: double 7px #4ec4d3;/*左線*/

}
.solution::before{
  content: "解答";
  font-weight: bold;
}

.solution>*:first-child{
  display: inline; /*div.theoremの直下は絶対インライン*/
}

.solution>.title{
  font-weight: bold; /*お好み装飾*/
}

.solution::after{
  content: "(解答終わり）"
}
